<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="AdminLabrary.Properties.Settings.BibliotecaConnectionString" connectionString="Data Source=DESKTOP-LAFABA1;Initial Catalog=Biblioteca;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="BibliotecaEntities" connectionString="metadata=res://*/Model.AdminLibrary.csdl|res://*/Model.AdminLibrary.ssdl|res://*/Model.AdminLibrary.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-T2J8DE0M\SQLEXPRESS;initial catalog=Biblioteca;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BibliotecaEntities1" connectionString="metadata=res://*/Model.Biblioteca1.csdl|res://*/Model.Biblioteca1.ssdl|res://*/Model.Biblioteca1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-T2J8DE0M\SQLEXPRESS;initial catalog=Biblioteca;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BibliotecaEntities2" connectionString="metadata=res://*/Model.biblioteca.csdl|res://*/Model.biblioteca.ssdl|res://*/Model.biblioteca.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-T2J8DE0M\SQLEXPRESS;initial catalog=Biblioteca;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BibliotecaEntities3" connectionString="metadata=res://*/Model.biblkioteca.csdl|res://*/Model.biblkioteca.ssdl|res://*/Model.biblkioteca.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-T2J8DE0M\SQLEXPRESS;initial catalog=Biblioteca;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BibliotecaEntities4" connectionString="metadata=res://*/Model.Biblioteca.csdl|res://*/Model.Biblioteca.ssdl|res://*/Model.Biblioteca.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Biblioteca;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BibliotecaprogramEntities" connectionString="metadata=res://*/Model.Model1.csdl|res://*/Model.Model1.ssdl|res://*/Model.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Bibliotecaprogram;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>